@charset "UTF-8";
.banner604{
    position: relative;/*相对定位占位置，所以这个父盒子不能给高*/
}

.banner604 a{
    position: absolute;/*绝对定位不占位置*/
    top: 0;
    left: 0;
    width: 100%;/*宽度为100%必须写出来，不写的话宽度与字体一样大，因为父盒子没有给宽度*/
    height: 604px;
    background: url("../images/banner.jpg") no-repeat top center;/*top center 让这个背景图片居中对齐*/
}
.main{
    /*height: 800px;*/
    position: relative;
}
.main .slider{
    float: left;
    width: 730px;
    height: 453px;
    margin-top: 12px;
    margin-left: 220px;
    background-color: pink;
    position: relative;
}
.main .news{
    float: right;
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    margin-top: 12px;
}
.slider ul{
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -66px;
}
 .slider ul li{
     float: left;
     width: 18px;
     height: 18px;
     background-color: #3E3E3E;
     border-radius: 50%;
     text-align: center;
     line-height: 18px;
     color: #fff;
     margin: 0 2px;
     /*margin-left: 4px;*/
   cursor: pointer;

 }
 .slider ul li.current{
     background-color: #B61B1F;
 }
 .triangle .tri-l,.triangle .tri-r{
     width: 28px;
     height: 62px;
     position: absolute;
     top: 50%;
     margin-top: -31px;
     font:400 18px/62px "宋体";
     font-family: "宋体";
     line-height: 62px;
     text-align: center;
     color:#fff;
     background: rgba(0,0,0,.5);

 }
 .tri-l{
     left: 0;
 }
 .tri-r{
     right: 0;
 }

.tri-l:hover,.tri-r:hover {
    background: rgba(0,0,0,.4);
    color: #fff;
}
.news {
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}

.jd-news {
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;  /*虚线*/
}
.jd-news .dt, .lifeservi .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7; /*点线*/
    line-height: 43px;
}
.jd-news .dt h3 ,.lifeservi .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}
.jd-news .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right:15px;
}
.jd-news .dd ul {
    padding: 8px 0 0 15px;
}
.jd-news .dd li {
    line-height: 28px;
}
.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;
}
.lifeservi {
    height:251px;
    overflow: hidden;
    width: 248px;/*给宽度再使用overflow对浏览器比较友好*/
}
.lifeservi ul {/*增加一个盒子使盒子能装下小盒子排列在一行上*/
    width: 252px;
}
.lifeservi ul li {
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    float: left;
    margin-left: -1px;
}
.lifeservi  li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}
.lifeservi  li  i{
    position: absolute;
    top:12px;
    left:18px;
    width: 25px;
    height: 25px;
    background: url(../images/icon_lifeserv.png) no-repeat right top;
}
.lifeservi-icon2 a i {
    background-position: right -25px;
}
.lifeservi-icon3 a i {
    background-position: right -100px;
}
.lifeservi-icon4 a i {
    background-position: right -75px;
}
.lifeservi-icon5 a{
    background: url("../images/song.png") no-repeat right top;
}
.lifeservi-icon5 a i {
    background-position: right -50px;
}
.lifeservi-icon6 a i {
    background-position: right -150px;
}
.lifeservi-icon7 a i {
    background-position: right -125px;
}
.lifeservi-icon8 a i {
    background-position: right -175px;
}
.lifeservi-icon9 a i {
    background-position: right -250px;
}
.lifeservi-icon10 a i {
    background-position: right -275px;
}
.lifeservi-icon11 a i {
    background-position: right -250px;
}
.lifeservi-icon12 a i {
    background-position: right -225px;
}
.lifeservi .song {
    background: url(../images/song.png) no-repeat right top;
}

/*11 huodong*/
.todays {
    position: relative;
}
.night {
    margin: 10px 0 28px 0;
}
.night-r {
    width:1000px;
    height: 160px;
    float: right;
}
.night-r ul {
    width: 500%;
    _width: 400%;
}
.night-r li {
    float: left;
    margin-right: 1px;
}


