@charset "UTF-8";
.banner604{
    position: relative;/*相对定位占位置，所以这个父盒子不能给高*/
}

.banner604 a{
    position: absolute;/*绝对定位不占位置*/
    top: 0;
    left: 0;
    width: 100%;/*宽度为100%必须写出来，不写的话宽度与字体一样大，因为父盒子没有给宽度*/
    height: 604px;
    /*background: url("../images/banner.jpg") no-repeat top center;top center 让这个背景图片居中对齐*/
}
#mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;/*---固定屏幕---*/
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#box{
    width: 400px;
    height: 200px;
    background-color: rgb(255,255,255);
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    display: none;
}
#box span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 15px;
}
.main{
    /*height: 800px;*/
    position: relative;
    background-color: #f5f5f5;
}
.main .smallimg{
    width:190px;
    height: 470px;
    position: absolute;
    left: 810px;
    top: -10px;
    margin: 10px;
}
.main .message{
    width:190px;
    height: 470px;
    position: absolute;
    left: 1010px;
    top: -10px;
    margin: 10px;
    background-color: #fff;
}
.smallimg img{
    padding-bottom: 10px;
}
.no-login {
    position: relative;
}
.no-login img{
    position: absolute;
    top: -10px;
    left: 63px;
}
.message .welcome {
    width: 70px;
    height: 25px;
    border-radius: 20px;
    margin-right: 5px;
}
#nav-login{
    background-color: #fff
}
#plus-vip{
    background-color: #363634
}
.message #nav-login:hover{
    background-color: #C81623;
}
#nav-login:hover a{
    color: #fff;
}
#plus-vip:hover a{
    color: #fff;
}
.message #plus-vip:hover{
    background-color: #C81623;
}
.second-kill div{
    border-left: 1px solid #f5f5f5;

}
/*.active{*/
    /*border-bottom: 2px solid #C81623;*/
/*}*/
.main .news{
    float: right;
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    margin-top: 12px;
}
.news {
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}

.jd-news {
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;  /*虚线*/
}
.jd-news .dt, .lifeservi .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7; /*点线*/
    line-height: 43px;
}
.jd-news .dt h3 ,.lifeservi .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}

.jd-news .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right:15px;
}
.jd-news .dd ul {
    padding: 8px 0 0 15px;
}
.jd-news .dd li {
    line-height: 28px;
}
.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;
}
.lifeservice {
    height:251px;
    overflow: hidden;
    width: 248px;/*给宽度再使用overflow对浏览器比较友好*/
}
.lifeservi ul {/*增加一个盒子使盒子能装下小盒子排列在一行上*/
    width: 252px;
}
.lifeservi ul li {
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    float: left;
    margin-left: -1px;
}
.lifeservi  li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}
.lifeservi  li  i{
    position: absolute;
    top:12px;
    left:18px;
    width: 25px;
    height: 25px;
    background: url(../images/icon_lifeserv.png) no-repeat;
}

/*.lifeservi .song {*/
    /*background: url(../images/song.png) no-repeat right top;*/
/*}*/




